<h1>Todos os clientes</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Idade</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clientes.each do |cliente| %>
  <tr>
    <td><%= cliente.nome %></td>
    <td><%= cliente.idade %> anos</td> 
    <td><%= link_to 'Mostrar', cliente %></td>
    <td><%= link_to 'Editar', edit_cliente_path(cliente) %></td>
    <!--<td><%= link_to 'Destroy', cliente, confirm: 'Are you sure?', method: :delete %></td>-->
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Cadastrar cliente', new_cliente_path %>
