<h1>Todos os restaurantes</h1>
<table>
	<tr>
		<th>Nome</th>
		<th>Endereço</th>
		<th>Especialidade</th>
	</tr>
	<% @restaurantes.each do |restaurante| %>
	<tr>
		<td><%= restaurante.nome %></td>
		<td><%= restaurante.endereco %></td>
		<td><%= restaurante.especialidade %></td>
		
		<td> <%= link_to 'Mostrar', {:action => 'show', :id => restaurante}%> </td>
		<td> <%= link_to 'Editar', {:action => 'edit', :id => restaurante}%> </td>
		<td> <%= link_to 'Deletar', {:action => 'destroy', :id => restaurante}%> </td>
	</tr>
	
<%end%>

</table>
<%= will_paginate @restaurantes %>
<br/>
		
<%= link_to 'Novo restaurante', { :action => 'new' } %>