<p id="notice"><%= notice %></p>

<p>
  <b>Conteudo:</b>
  <%= @comentario.conteudo %>
</p>

<p>
  <b>Comentavel:</b>
  <%= @comentario.comentavel_id %>
</p>

<p>
  <b>Comentavel type:</b>
  <%= @comentario.comentavel_type %>
</p>


<%= link_to 'Editar', edit_comentario_path(@comentario) %> |
<%= link_to 'Voltar', comentarios_path %>
